@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: hsl(0, 0%, 100%);
		--foreground: hsl(292, 42%, 14%);
		--pink: hsl(275, 100%, 97%);
		--purple: hsl(292, 16%, 49%);
		--primary: #9730D5;
		--card-foreground: 0 0% 3.9%;
		--radius: 0.5rem;
	}
}
@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
